<div class="chat-header">

  <div class="left-header">
    <div class="header-title">
      PrivateFamily
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    </div>
  </div>

</div>

<div class="messages">
  <div class="message">
     <%= image_tag "family_0052.png", class: "item-img" %>
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
         <div class='star-btn'>
            <%= image_tag "star.png", class:"star-icon" %>
             <span> 0</span>
         </div>
    </div>
  </div>

  <div class="message">
    <%= image_tag "family_0327.png", class: "item-img" %>
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
                        <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
               <span> 1</span>
            </div>
    </div>
    </div>
      <div class="message">
     <%= image_tag "family_0000.png", class: "item-img" %>
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
         <div class='star-btn'>
            <%= image_tag "star.png", class:"star-icon" %>
             <span> 0</span>
         </div>
    </div>
  </div>
  </div>  
</div>

<div class="form">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
</div>